@import './variables.scss';

.about {
  padding: 50px 18px;

  .title {
    text-align: center;
    @include font($fontPNr, 400, 24px);
    text-transform: uppercase;
    letter-spacing: 7.68px;
    color: $colorWhite;
    margin-bottom: 44px;
  }

  .list {
    padding: 0;
    list-style: none;
    &__item {
      margin-bottom: 19px;

      &__link {
        color: $colorWhite;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include font($fontPNr, 400, 14px);

        .num {
          @include font($fontPNr, 400, 28px);
          line-height: 1;
        }
        .def {
          width: 30px;
          height: 2px;
          display: block;
          background-color: $colorWhite;
          margin: 0 17px;
        }
      }

      &.active {
        .list__item__link {
          font-weight: 700;
          .num {
            color: $colorAccent;
          }
        }
      }
    }
  }

  .card {
    position: relative;
    padding: 25px;
    background-color: $colorCard;
    margin-bottom: 60px;

    .control {
      position: absolute;
      top: 25px;
      right: 25px;

      .prev,
      .next {
        border: none;
        background: none;
        color: $colorAccent;
        transition: all 0.2s;

        &:hover {
          cursor: pointer;
          transform: scale(1.2);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }

    .img--wrp {
      margin-bottom: 30px;
      img {
      }
    }

    &__title {
      margin: 0;
      margin-bottom: 14px;
      color: $colorWhite;
      @include font($fontPNr, 700, 18px);
    }

    &__description {
      color: $colorText;
      margin: 0;
      @include font($fontPNr, 400, 15px);
    }

    &-box {
    }
  }
}

@media (min-width: 640px) {
  .about {
    .title {
      font-size: 48px;
      letter-spacing: 15.36px;
    }

    .list {
      &__item {
        margin-bottom: 30px;
        &__link {
          font-size: 20px;
        }
      }
    }

    .card {
      background: none;
      .img {
        &--wrp {
          display: flex;
          align-items: flex-end;
          margin: 0;
        }
      }

      &__title {
        font-size: 30px;
      }
      &__description {
        font-size: 15px;
      }
    }
  }
}
