html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #25282c;
  color: #fff;
}

textarea {
  resize: none;
}

.container {
  width: 320px;
  padding: 0 10px;
  margin: auto;

  &--fluid {
    width: 100%;
  }
}

.wrapper {
  background-image: url(../images/smoke_footer.png);
  background-repeat: no-repeat;
  background-position: center 316px;
}

@media (min-width: 640px) {
  .container {
    min-width: 640px;
    width: auto;
    max-width: 1170px;
  }

  .wrapper {
    padding-bottom: 70px;
    background-position-y: 100px;
  }
}

.uk-grid {
  // padding: 0;
  margin: 0;
  > * {
    padding: 0;
  }
}
