@import './variables.scss';

.contact {
  // background-image: url(../images/smoke_footer.png);
  // background-repeat: no-repeat;
  // background-position: bottom center;
  &__title {
    @include font($fontPNr, 400, 18px);
    text-transform: uppercase;
    color: $colorWhite;
    margin-bottom: 32px;
  }

  .card {
    // width: 50%;
    background: none;
    padding-bottom: 20px;
    margin: 0;
    &-box {
      margin-bottom: 50px;
    }

    &__title {
      @include font($fontPNr, 600, 15px);
      color: $colorWhite;
      line-height: 1;
      margin-bottom: 16px;
    }

    &__link {
      @include font($fontPNr, 400, 16px);
      color: $colorWhite;

      .icon {
        width: 16px;
        height: 16px;
        fill: $colorWhite;
        margin-right: 5px;
      }

      &:hover {
        text-decoration: none;
        color: $colorAccent;
      }
    }

    &.social {
      > div {
        margin: 0;
      }
    }

    .icon--wrp {
      display: flex;
      justify-content: space-around;
      font-size: 6px;
      svg {
        width: 15px;
        height: 15px;
        fill: $colorWhite;

        &:hover {
          fill: $colorAccent;
        }
      }
    }
  }

  .contactAs {
    @include font($fontPNr, 400, 24px);
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 7.68px;
    color: $colorWhite;
    margin-bottom: 29px;
  }

  .contactForm {
    &__field {
      // width: 100%;
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      background: none;
      border: none;
      border-bottom: 1px solid $colorBorder;
      padding-top: 14px;
      padding-bottom: 14px;
      color: $colorWhite;

      &:nth-of-type(3) {
        margin-bottom: 25px;
      }

      &:valid {
        border-color: $colorAccent;
      }
    }

    .submit {
      padding: 15px 48px;
      border-radius: 20px;
      box-shadow: 0 11px 23px 1px rgba(35, 179, 254, 0.2);
      border: none;
      background-color: $colorAccent;
      line-height: 16.1px;
      @include font($fontPNr, 700, 16px);
      color: $colorWhite;
    }
  }
}

@media (min-width: 640px) {
  .contact {
    .grid {
      align-items: flex-start;
      .contactForm {
        order: 2;
        align-items: flex-start;
        padding-top: 50px;

        &__field {
          $w: 30px;
          font-size: 18px;
          margin-bottom: 30px;

          &[name='name'] {
            width: calc(50% - 15px);
            margin-right: auto;
          }

          &[name='email'] {
            width: calc(50% - 15px);
            margin-left: auto;
          }
        }

        .submit {
          margin: 0;
          margin-left: auto;
          letter-spacing: 0.9px;
          font-size: 18px;
          padding: 18px 44px;
          border-radius: 26px;
        }
      }
      .contacts {
        order: 1;
      }
    }
    .contactAs {
      font-size: 48px;
      letter-spacing: 15.36px;
    }

    &__title {
      font-size: 23px;
    }

    .card {
      margin-bottom: 10px;
      &__title {
        font-size: 19px;
      }
      &__link {
        font-size: 18px;
      }
    }
    .social {
      padding-left: 0;
      .card__title {
        font-size: 23px;
      }

      .icon--wrp {
        svg {
          width: 20px;
          height: 20px;
          fill: $colorWhite;

          &:hover {
            fill: $colorAccent;
          }
        }
      }
    }
  }
}
